# Homework: Financial Ratio Quantile Strategy
Robert Hatem

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy as sp
import quandl
import functools
import seaborn as sns
import time
%matplotlib inline

In [2]:
# API key
quandl.ApiConfig.api_key = "wFcUAbwJv3FbxzDwExsY"

In [3]:
# for quandl data
@functools.lru_cache(maxsize=16)
def fetch_quandl(my_securities, start_date="2011-01-01", end_date="2018-01-01"):
    #print("Fetching from Quandl")
    if len(my_securities) != 1:
        qdata = quandl.get(list(my_securities), start_date="2010-12-01", end_date="2018-01-01", returns="pandas")
    elif len(my_securities) == 1:
        my_securities = my_securities[0]
        qdata = quandl.get(list(my_securities), start_date="2010-12-01", end_date="2018-01-01", returns="pandas")
    return qdata

## Read in master files
I used the "bulk download" from Quandl.

In [4]:
data1 = pd.read_csv('ZFB-complete/ZFB-1.csv', delimiter='|', low_memory=False)
data2 = pd.read_csv('ZFB-complete/ZFB-2.csv', delimiter='|', low_memory=False)
data3 = pd.read_csv('ZFB-complete/ZFB-3.csv', delimiter='|', low_memory=False)
data4 = pd.read_csv('ZFB-complete/ZFB-4.csv', delimiter='|', low_memory=False)
data5 = pd.read_csv('ZFB-complete/ZFB-5.csv', delimiter='|', low_memory=False)
data6 = pd.read_csv('ZFB-complete/ZFB-6.csv', delimiter='|', low_memory=False)

In [5]:
# number of tickers in data3
np.unique(data3['TICKER'].values).shape

(2372,)

ETF price and returns from Quandl

In [6]:
eod_etf = quandl.get(("EOD/SPY"), start_date="2010-12-01", end_date="2018-01-01", returns="pandas")
eod_etf1 = eod_etf.loc[:,['Adj_Close']]
eod_etf1['etf_returns'] = eod_etf1['Adj_Close'].pct_change()
eod_etf1.drop(columns=['Adj_Close'], inplace=True)
eod_etf1 = eod_etf1.reset_index()

Collect the universe of stocks by looking through all tickers in the 6 files and filtering out the bad ones.

In [10]:
cols = ['TICKER',
        'PER_END_DATE',
        'PER_TYPE',
        'ZACKS_SECTOR_CODE',
        'ZACKS_X_IND_CODE',
        'FILING_DATE',
        'NBR_SHARES_OUT',
        'TOT_DEBT_TOT_EQUITY', # debt to market cap
        'BOOK_VAL_PER_SHARE', # price to book
        'DILUTED_NET_EPS']    # price to earnings

def clean_data():
    dic_output = {}
    for data in [data1, data2, data3, data4, data5, data6]:
        df = data.loc[(data.ZACKS_SECTOR_CODE!=5) & (data.ZACKS_SECTOR_CODE!=13)].copy()  # filter out wrong sectors
        df1 = df.loc[df.PER_TYPE == 'Q'].copy()  # filter out annual data
        tickers = np.unique(df1['TICKER'].values)
        for i, ticker in enumerate(tickers):
            if i%(data.shape[0]/100)==0:
                print(data.shape[0])
                print('{} of {}'.format(i,data.shape[0]))
            ticker1 = ticker.replace('.','')
            df2 = df1.loc[df1.TICKER==ticker1, cols].copy()
            #if df2.loc[:,'ZACKS_SECTOR_CODE'].iloc[-1] in [5,13]:  # if wrong sector
            #    continue
            #elif df2.loc['ZACKS_X_IND_CODE'].iloc[-1] in [5,13]:
            #    continue
            num_above_1 = sum(df2.TOT_DEBT_TOT_EQUITY > 0.1)==0
            #if i==100:
            #    return dic_output
        
            if sum(df2.TOT_DEBT_TOT_EQUITY > 0.1) == 0:
                #print(i,'| Not enough debt | {}'.format(ticker))
                continue
            df2.drop(columns=['ZACKS_SECTOR_CODE', 'ZACKS_X_IND_CODE'], inplace=True)
            df2 = df2[df2.PER_TYPE=='Q']
            df2.PER_END_DATE = pd.to_datetime(df2.PER_END_DATE)
            df3 = df2.loc[(df2.PER_END_DATE >= '2010-10-30') & (df2.PER_END_DATE < '2018-04-01')].copy()
            df3['TOT_DEBT_TOT_EQUITY'].fillna(0, inplace=True)
            quandl_input = 'EOD/'+ticker+'.11'
            #print(quandl_input)
            try:
                df4 = quandl.get(quandl_input, start_date="2011-01-01", end_date="2018-01-01", returns="pandas")  # adjusted close price
            except:
                #print(i,'| No price data | {}'.format(ticker))
                continue
            df4 = df4.reset_index()
            df4.Date = pd.to_datetime(df4.Date)
            df3.PER_END_DATE = pd.to_datetime(df3.PER_END_DATE)
            try:
                df5 = df4.merge(df3, left_on='Date', right_on='PER_END_DATE', how='left').merge(eod_etf1, left_on='Date', right_on='Date', how='left')
            except:
                continue
            df5.fillna(method='ffill', inplace=True)
            df5['stock_returns'] = df5['Adj_Close'].pct_change()
            df5['debt_to_mktcap'] = df5['TOT_DEBT_TOT_EQUITY'].values.copy()
            df5['price_to_book'] = df5['Adj_Close']/df5['BOOK_VAL_PER_SHARE']   # compute new columns
            df5['price_to_earnings'] = df5['Adj_Close']/df5['DILUTED_NET_EPS']
            df5.drop(columns=['Adj_Close','PER_TYPE','PER_END_DATE', 'FILING_DATE',	'NBR_SHARES_OUT', 'TOT_DEBT_TOT_EQUITY', 'BOOK_VAL_PER_SHARE', 'DILUTED_NET_EPS'], inplace=True)
            df5['TICKER'].fillna(method='bfill', inplace=True)
            if df5.shape[0] < 1400:  # 
                #print(i,'| Not enough data | {}'.format(ticker))
                continue
            if df5.isna().sum(axis=0)[5] > 500:
                #print(i,'Too many NaNs | {}'.format(ticker))
                continue
            #print(i,'| adding | {}'.format(ticker), time.strftime('%l:%M%p %z on %b %d, %Y'))
            dic_output[ticker]=df5
    return dic_output

df5 = clean_data()

85459
0 of 85459
84386
0 of 84386
85623
0 of 85623
86366
0 of 86366
87129
0 of 87129
44647
0 of 44647

Remove tickers that contain columns with all NaNs (ratios not available)

In [213]:
# remove tickers that columns with all NaNs
dict1 = {}
for key, value in df5.items():
    if sum(value.isna().sum() / value.shape[0] > 0.9) > 0:
        continue
    else:
        dict1[key]=value

In [214]:
# number of tickers
len(dict1)

1839

Concatenate all tickers into one dataframe.

In [225]:
df_master = dict1['A'].copy()
keys = list(dict1.keys())

for i, key in enumerate(keys):
    if key=='A':
        continue
    else:
        df_master = pd.concat([df_master, dict1[key]])
    if i%100==0: print(i, 'of', len(keys))
df_master.shape

100 of 1839
200 of 1839
300 of 1839
400 of 1839
500 of 1839
600 of 1839
700 of 1839
800 of 1839

/Users/roberthatem/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

900 of 1839
1000 of 1839
1100 of 1839
1200 of 1839
1300 of 1839
1400 of 1839
1500 of 1839
1600 of 1839
1700 of 1839
1800 of 1839

(3218010, 9)

In [230]:
df_master.head()

,Date,TICKER,alpha_0,alpha_1,debt_to_mktcap,etf_returns,price_to_book,price_to_earnings,stock_returns
0,2011-01-03,A,NaN,NaN,NaN,0.010338,NaN,NaN,NaN
1,2011-01-04,A,NaN,NaN,NaN,-0.000551,NaN,NaN,-0.009312
2,2011-01-05,A,NaN,NaN,NaN,0.005198,NaN,NaN,-0.002169
3,2011-01-06,A,NaN,NaN,NaN,-0.001959,NaN,NaN,0.001932
4,2011-01-07,A,NaN,NaN,NaN,-0.001962,NaN,NaN,0.003375

Drop the erroneous columns for the regression alphas (with ETF returns)

In [258]:
df_master.drop(columns=['alpha_0', 'alpha_1'], inplace=True)

In [264]:
# sort by date then ticker
# drop rows with NaN
d1 = df_master.sort_values(by=['Date', 'TICKER']).dropna()

In [268]:
d1['Date_new'] = pd.DatetimeIndex(d1.Date)

In [300]:
d2 = d1.set_index(pd.DatetimeIndex(d1['Date'])).drop(columns=['Date', 'Date_new'])
d2['year'] = d2.index.year
d2['month'] = d2.index.month
d2['day'] = d2.index.day

In [309]:
# first day of the month
d2[(d2.year==2011) & (d2.month==2)].day.min()

1

Go long the top 10 tickers at the start of each month. See their performance over that month.

In [338]:
# find first date of each month
months = [i for i in range(1,13)]
years = [2012,2013,2014,2015,2016,2017]
first_day_of_month = {}
for year in years:
    for month in months:
        first_day_of_month[(year, month)] = d2[(d2.year==year) & (d2.month==month)].day.min()
len(first_day_of_month)

72

In [341]:


for key,value in first_day_of_month.items():
    first_day = value
    d3 = d2[(d2.year==key[0]) & (d2.month==key[1]) & (d2.day==3)]
    
    break

In [ ]:
month_start=(EOD_Data[[]].assign(date=EOD_Data[[]].index).resample("BMS").first().values.flatten())[1:]
print(month_start.shape)
month_end=EOD_Data[[]].assign(date=EOD_Data[[]].index).resample("M").last().values.flatten()[1:]
print(month_end.shape)

In [346]:
d2.resample('M').first()

,TICKER,debt_to_mktcap,etf_returns,price_to_book,price_to_earnings,stock_returns,year,month,day
Date,,,,,,,,,
2011-01-31,A,0.6406,0.007516,2.909033,52.137947,0.020742,2011,1,31
2011-02-28,A,0.6406,0.016009,2.924332,52.412160,0.005259,2011,2,1
2011-03-31,A,0.6406,-0.016673,2.829057,50.704558,-0.033270,2011,3,1
2011-04-30,A,0.6406,0.004224,3.139224,56.263612,0.008039,2011,4,1
2011-05-31,A,0.6406,-0.001539,3.507808,62.869664,0.010619,2011,5,2
2011-06-30,A,0.6406,-0.022461,3.338120,59.828387,-0.037497,2011,6,1
2011-07-31,A,0.6406,0.014776,3.616297,64.814086,0.017413,2011,7,1
2011-08-31,A,0.6406,-0.004253,2.836707,50.841665,-0.032495,2011,8,1
2011-09-30,A,0.6406,-0.010473,2.492463,44.671862,-0.027936,2011,9,1
2011-10-31,A,0.6406,-0.028458,2.044599,36.644887,-0.059200,2011,10,3
2011-11-30,A,0.5063,-0.027888,1.909681,28.966607,-0.048017,2011,11,1
2011-12-31,A,0.5063,-0.000160,2.046590,31.043272,0.008533,2011,12,1
2012-01-31,CPAH,0.0000,-0.004916,4.269646,inf,0.000000,2012,1,2
2012-02-29,A,0.4848,0.008757,2.300625,45.758361,0.040499,2012,2,1
2012-03-31,A,0.4848,0.005182,2.299063,45.727297,0.012380,2012,3,1
2012-04-30,A,0.4848,0.007315,2.341275,46.566882,0.008088,2012,4,2
2012-05-31,A,0.4607,0.006220,2.134896,40.259401,0.018729,2012,5,1
2012-06-30,A,0.4607,-0.025177,1.898900,35.809036,-0.060010,2012,6,1
2012-07-31,A,0.4607,0.003012,1.938108,36.548414,-0.008410,2012,7,2
2012-08-31,A,0.4543,-0.000871,1.849282,37.421969,-0.002873,2012,8,1
2012-09-30,CPAH,0.0000,0.004769,5.140396,126.500000,0.000000,2012,9,3
2012-10-31,A,0.4543,0.002639,1.887114,38.187528,0.010663,2012,10,1
2012-11-30,A,0.4555,0.010470,1.678679,20.963341,0.030842,2012,11,1
2012-12-31,A,0.4555,-0.004924,1.715782,21.426682,-0.009663,2012,12,3
2013-01-31,A,0.4555,0.025630,1.899624,23.722508,0.022960,2013,1,2
2013-02-28,A,0.4412,0.010287,1.996322,60.362513,0.011389,2013,2,1
2013-03-31,A,0.4412,0.003298,1.848218,55.884305,0.010849,2013,3,1
2013-04-30,A,0.4412,-0.003957,1.809297,54.707478,-0.024780,2013,4,1
2013-05-31,A,0.4439,-0.008767,1.830285,58.666352,-0.003137,2013,5,1
2013-06-30,A,0.4439,0.005506,2.016371,64.630977,0.001320,2013,6,3
...,...,...,...,...,...,...,...,...,...
2015-07-31,A,0.3980,0.008016,3.028672,151.379101,0.017626,2015,7,1
2015-08-31,A,0.4031,-0.003373,3.195638,127.490493,0.001221,2015,8,3
2015-09-30,A,0.4031,-0.029848,2.708498,108.055966,-0.042963,2015,9,1
2015-10-31,A,0.4031,0.002609,2.637410,105.219891,-0.017186,2015,10,1
2015-11-30,A,0.4031,0.011831,3.016528,120.344860,0.021981,2015,11,2
2015-12-31,A,0.4031,0.009536,3.209604,128.047680,-0.018173,2015,12,1
2016-01-31,A,0.4031,-0.013979,3.189430,127.242842,-0.026788,2016,1,4
2016-02-29,A,0.4031,-0.000361,2.954280,117.861458,0.001062,2016,2,1
2016-03-31,A,0.4031,0.023507,3.024825,120.675873,0.033199,2016,3,1
2016-04-30,A,0.4031,0.006812,3.168659,126.414153,0.014429,2016,4,1
2016-05-31,A,0.4031,0.007948,3.278709,130.804622,0.019306,2016,5,2
2016-06-30,A,0.4031,0.002049,3.612004,144.101472,0.001307,2016,6,1
2016-07-31,A,0.4031,0.002100,3.514973,140.230402,0.005410,2016,7,1
2016-08-31,A,0.4031,-0.000829,3.772685,150.511869,-0.004989,2016,8,1
2016-09-30,A,0.4031,0.000046,3.703331,147.744991,0.000213,2016,9,1
2016-10-31,A,0.4031,-0.002404,3.724226,148.578583,0.001062,2016,10,3
2016-11-30,A,0.4484,-0.007245,3.242530,111.823772,-0.001836,2016,11,1
2016-12-31,A,0.4484,-0.003675,3.221654,111.103821,-0.017508,2016,12,1
2017-01-31,A,0.4484,0.007650,3.476229,119.883256,0.020413,2017,1,3
2017-02-28,A,0.4633,0.000396,3.614645,92.826857,0.005922,2017,2,1
2017-03-31,A,0.4633,0.013998,3.818638,98.065563,0.014425,2017,3,1
2017-04-30,A,0.4633,-0.001739,3.913504,100.501794,0.006242,2017,4,3
2017-05-31,A,0.4633,0.002520,4.104766,105.413536,0.013624,2017,5,1
2017-06-30,A,0.4633,0.007952,4.467427,114.726954,0.006463,2017,6,1
2017-07-31,A,0.4633,0.001696,4.359492,111.955109,-0.003035,2017,7,3
2017-08-31,A,0.4513,0.002229,4.121128,109.285454,0.002509,2017,8,1
2017-09-30,A,0.4513,0.001414,4.426397,117.380673,-0.005253,2017,9,1
2017-10-31,A,0.4513,0.004339,4.469162,118.514733,0.012492,2017,10,2
2017-11-30,A,0.4159,0.001322,4.469089,124.269649,-0.000147,2017,11,1
2017-12-31,A,0.4159,-0.002075,4.513110,125.493710,-0.007943,2017,12,1

In [105]:
from sklearn.linear_model import LinearRegression

In [194]:
dict2 = dict1.copy()
keys = list(dict2.keys())
counter = 0

# compute betas
for key, d in dict2.items():
    print(key, counter)
    d1 = d.loc[:,['Date','stock_returns','etf_returns']].copy()
    d1['alpha_0'] = np.nan
    d1['alpha_1'] = np.nan
    
    for index, row in d.iterrows():
        # find dates corresponding to the previous month
        month_previous = row['Date'] - pd.DateOffset(months=1)
        
        d2 = d1.loc[(d1.Date >= month_previous) & (d1.Date < row['Date'])].copy() # filter to past month
        if d2.shape[0]<2: continue
        if sum(d2.loc[:,['stock_returns','etf_returns']].isna().sum() ==1): continue
        X = d2['etf_returns'].values.reshape(-1,1)
        y = d2['stock_returns'].values.reshape(-1,1)
        reg = LinearRegression().fit(X, y)
        alpha_0, alpha_1 = reg.intercept_[0], reg.coef_[0][0]
        d1.at[index,'alpha_0'] = alpha_0
        d1.at[index,'alpha_1'] = alpha_1
        #if index==30: break
    d['alpha_0'] = d1['alpha_0'].values
    d['alpha_1'] = d1['alpha_1'].values
    counter +=1

A 0
AAL 1
AAON 2
AAP 3
AAPL 4
AAWW 5
ABB 6
ABC 7
ABG 8
ABM 9
ABT 10
ACAD 11
ACCO 12
ACHC 13
ACHN 14
ACLS 15
ACM 16
ACOR 17
ACRX 18
ACU 19
ADBE 20
ADES 21
ADI 22
ADM 23
ADP 24
ADS 25
ADSK 26
ADTN 27
ADUS 28
ADXS 29
ADYX 30
AE 31
AEHR 32
AEIS 33
AEM 34
AEP 35
AES 36
AETI 37
AEY 38
AGCO 39
AGEN 40
AHC 41
AHPI 42
AIMC 43
AIN 44
AIR 45
AIRT 46
AIT 47
AKAM 48
AKRX 49
AKS 50
AL 51
ALB 52
ALCO 53
ALG 54
ALGN 55
ALGT 56
ALIM 57
ALK 58
ALKS 59
ALNY 60
ALOT 61
ALSK 62
ALXN 63
AMAG 64
AMAT 65
AMCX 66
AMD 67
AME 68
AMED 69
AMGN 70
AMID 71
AMKR 72
AMN 73
AMPE 74
AMRC 75
AMRS 76
AMS 77
AMSC 78
AMWD 79
AMZN 80
ANDE 81
ANF 82
ANGI 83
ANGO 84
ANIK 85
ANIP 86
ANSS 87
ANTH 88
ANTM 89
AOSL 90
AP 91
APA 92
APD 93
APDN 94
APH 95
APOG 96
APU 97
APYX 98
ARAY 99
ARC 100
ARCB 101
ARCI 102
ARCW 103
ARDMQ 104
AREX 105
ARLP 106
ARNA 107
ARNC 108
ARQL 109
ARRY 110
ARTNA 111
ARTW 112
ARW 113
ASCMA 114
ASGN 115
ASH 116
ASTE 117
ASYS 118
AT 119
ATEC 120
ATNI 121
ATR 122
ATRC 123
ATRI 124
ATRO 125
ATSG 126
ATU 127
ATVI 128
AVD 129
AVEO 130
AVGO 131
AVP 132
AVT 133
AVY 134
AWI 135
AWK 136
AWX 137
AXAS 138
AXDX 139
AXR 140
AXTI 141
AYI 142
AYR 143
AZO 144
AZPN 145
AZZ 146
B 147
BA 148
BABY 149
BAH 150
BAS 151
BASI 152
BAX 153
BBBY 154
BBGI 155
BBSI 156
BBY 157
BC 158
BCEI 159
BCLI 160
BCPC 161
BCRX 162
BDC 163
BDL 164
BDR 165
BDSI 166
BDX 167
BEAT 168
BECN 169
BELFA 170
BELFB 171
BG 172
BGFV 173
BGG 174
BGS 175
BHE 176
BHGE 177
BID 178
BIO 179
BKD 180
BKH 181
BKS 182
BLDR 183
BLIN 184
BLKB 185
BLL 186
BMI 187
BMRN 188
BMS 189
BMY 190
BOOM 191
BP 192
BPL 193
BR 194
BRC 195
BRID 196
BRKR 197
BRKS 198
BRN 199
BSET 200
BSX 201
BTN 202
BVSN 203
BWEN 204
BWXT 205
BXC 206
BYD 207
BZH 208
CACI 209
CAKE 210
CAL 211
CALM 212
CALX 213
CAMP 214
CAMT 215
CARB 216
CASS 217
CASY 218
CATM 219
CATO 220
CBAT 221
CBLI 222
CBM 223
CBPO 224
CBRL 225
CBT 226
CCEP 227
CECE 228
CIDM 229
CLBS 230
CMD 231
CNTY 232
CPSH 233
CUO 234
CVM 235
CWCO 236
CYAN 237
DSS 238
DVCR 239
EBIX 240
ENSV 241
ESTE 242
EVI 243
EVK 244
FORD 245
GLDD 246
GOLD 247
GV 248
HCKT 249
HES 250
HIL 251
HON 252
HRB 253
HRTX 254
ICON 255
IEP 256
INOD 257
IPAR 258
KEQU 259
KGJI 260
LGL 261
LRAD 262
LUB 263
MAMS 264
MAN 265
MATX 266
MTRN 267
MTZ 268
NATR 269
NBR 270
NCS 271
NEON 272
NM 273
NSP 274
NYNY 275
PHX 276
PII 277
PLAG 278
PNW 279
RDNT 280
REX 281
RFP 282
RHI 283
RIOT 284
SEB 285
SNBR 286
SPEX 287
SRPT 288
TGLS 289
TGTX 290
TREC 291
TVTY 292
UAMY 293
UHAL 294
UIS 295
USAU 296
VCEL 297
VZ 298
YUMA 299
ZIXI 300
ABEO 301
ADMP 302
AMRN 303
APTV 304
ARTX 305
ASNA 306
ASRT 307
ATGE 308
ATO 309
BH 310
BIG 311
BJRI 312
BLFS 313
CAH 314
CAR 315
CASI 316
CAT 317
CCF 318
CCK 319
CCL 320
CCMP 321
CCO 322
CCOI 323
CCRN 324
CCXI 325
CDE 326
CDNS 327
CDTI 328
CDXS 329
CE 330
CECO 331
CELG 332
CENT 333
CENTA 334
CENX 335
CERN 336
CERS 337
CETV 338
CF 339
CFX 340
CHCI 341
CHDN 342
CHE 343
CHEF 344
CHK 345
CHKE 346
CHRW 347
CHS 348
CHTR 349
CIEN 350
CIR 351
CIX 352
CKH 353
CL 354
CLB 355
CLCT 356
CLF 357
CLH 358
CLIR 359
CLMT 360
CLNE 361
CLR 362
CLSN 363
CLUB 364
CLVS 365
CLX 366
CMC 367
CMCO 368
CMCSA 369
CMP 370
CMRE 371
CMS 372
CMTL 373
CNC 374
CNET 375
CNK 376
CNMD 377
CNSL 378
CNX 379
CO 380
COG 381
COHR 382
COHU 383
COKE 384
COLM 385
CONN 386
COO 387
CORT 388
COT 389
CPA 390
CPAH 391
CPB 392
CPE 393
CPHI 394
CPIX 395
CPK 396
CPRT 397
CPSI 398
CPST 399
CQP 400
CR 401
CRAI 402
CREE 403
CREG 404
CRI 405
CRIS 406
CRK 407
CRL 408
CRM 409
CRMT 410
CROX 411
CRR 412
CRS 413
CRUS 414
CRWS 415
CRY 416
CRZO 417
CSCO 418
CSGS 419
CSL 420
CSOD 421
CSS 422
CSU 423
CSV 424
CSX 425
CTAS 426
CTG 427
CTIB 428
CTIC 429
CTL 430
CTRN 431
CTS 432
CTSH 433
CTWS 434
CTXS 435
CUB 436
CULP 437
CVA 438
CVCO 439
CVGW 440
CVI 441
CVLT 442
CVTI 443
CVU 444
CVV 445
CW 446
CWST 447
CWT 448
CXO 449
CY 450
CYH 451
CYTK 452
CYTR 453
CYTX 454
CZR 455
DAC 456
DAKT 457
DAL 458
DAR 459
DAVE 460
DBD 461
DBI 462
DCI 463
DCO 464
DCP 465
DCTH 466
DDS 467
DE 468
DECK 469
DG 470
DGI 471
DGLY 472
DGX 473
DHI 474
DHR 475
DHT 476
DHX 477
DIOD 478
DIS 479
DISCA 480
DISCB 481
DISCK 482
DISH 483
DIT 484
DJCO 485
DK 486
DKS 487
DLA 488
DLHC 489
DLTR 490
DLX 491
DNKN 492
DNR 493
DO 494
DOV 495
DOX 496
DPW 497
DRAD 498
DRI 499
DRQ 500
DRRX 501
DRYS 502
DTE 503
DUK 504
DVAX 505
DVD 506
DVN 507
DXCM 508
DXLG 509
DXPE 510
DXR 511
DXYN 512
DY 513
DYNT 514
DYSL 515
EA 516
EAT 517
EBAY 518
EBF 519
EBS 520
ECHO 521
ECL 522
ECOL 523
ED 524
EDUC 525
EE 526
EEI 527
EFII 528
EFX 529
EGAN 530
EGLE 531
EL 532
ELGX 533
ELMD 534
ELY 535
EMAN 536
EME 537
EMKR 538
EML 539
EMMS 540
EMN 541
EMR 542
ENDP 543
ENPH 544
ENS 545
ENSG 546
ENT 547
ENTG 548
ENV 549
ENZ 550
EOG 551
EPAM 552
EPAY 553
EPC 554
EPD 555
EQT 556
ERII 557
ESCA 558
ESE 559
ET 560
ETH 561
ETM 562
ETN 563
EVC 564
EVOL 565
EW 566
EXAS 567
EXEL 568
EXLS 569
EXP 570
EXPD 571
EXPE 572
EXPR 573
EXTR 574
FARM 575
FAST 576
FB 577
FBHS 578
FBIO 579
FCEL 580
FCSC 581
FCX 582
FDP 583
FDS 584
FDX 585
FEIM 586
FELE 587
FET 588
FGP 589
FIS 590
FLL 591
FLS 592
FTR 593
GURE 594
HLX 595
IIIN 596
IMNPQ 597
INFI 598
INGR 599
INVT 600
ISDR 601
ISR 602
KDP 603
LEAF 604
LNG 605
M 606
MBOT 607
MLNT 608
MTH 609
MU 610
NEU 611
NLS 612
OMC 613
OPK 614
PKI 615
PPC 616
PYX 617
RAMP 618
RDI 619
RLH 620
RRD 621
RSLS 622
SIRI 623
SNMP 624
SSP 625
STCN 626
STZ 627
TAP 628
TGT 629
TPR 630
UAVS 631
UFS 632
WEN 633
WFT 634
ABIO 635
ACUR 636
AEGN 637
AJRD 638
ALT 639
AMOT 640
ARWR 641
AUMN 642
AVNW 643
AXE 644
AXGN 645
BCOR 646
BIIB 647
BREW 648
CCLP 649
CJJD 650
CLGX 651
CNP 652
CPRI 653
DIN 654
EHC 655
ENG 656
ESMC 657
EVRG 658
FC 659
FCN 660
FICO 661
FISV 662
FIX 663
FLDM 664
FLEX 665
FLIR 666
FLO 667
FLR 668
FLT 669
FLWS 670
FLXS 671
FMC 672
FN 673
FNSR 674
FOE 675
FOLD 676
FONR 677
FORM 678
FOSL 679
FRAN 680
FRD 681
FRED 682
FRGI 683
FSLR 684
FSNN 685
FSTR 686
FTI 687
FTK 688
FUL 689
FUN 690
FVE 691
FWRD 692
G 693
GAIA 694
GASS 695
GATX 696
GBX 697
GCO 698
GD 699
GDOT 700
GDP 701
GE 702
GEF 703
GEL 704
GEVO 705
GFF 706
GFN 707
GGB 708
GGG 709
GHDX 710
GHM 711
GIFI 712
GIGA 713
GIII 714
GILD 715
GIS 716
GLNG 717
GLOG 718
GLP 719
GLT 720
GLUU 721
GME 722
GMLP 723
GMO 724
GNC 725
GNRC 726
GORO 727
GPI 728
GPK 729
GPN 730
GPRE 731
GPS 732
GRA 733
GRC 734
GRPN 735
GSB 736
GSM 737
GTE 738
GTIM 739
GTLS 740
GTN 741
GTS 742
GTT 743
GVA 744
GVP 745
GWR 746
GWRE 747
GWW 748
GXP 749
H 750
HA 751
HAE 752
HAL 753
HALO 754
HAS 755
HAYN 756
HBI 757
HBIO 758
HBP 759
HCA 760
HCCI 761
HD 762
HDSN 763
HE 764
HEB 765
HEES 766
HEI 767
HELE 768
HEP 769
HFC 770
HHS 771
HI 772
HIBB 773
HII 774
HL 775
HLF 776
HLIT 777
HMSY 778
HNI 779
HNRG 780
HOFT 781
HOLX 782
HOS 783
HOV 784
HP 785
HPJ 786
HPQ 787
HRC 788
HRL 789
HRS 790
HSC 791
HSIC 792
HSII 793
HSKA 794
HSON 795
HSTM 796
HSY 797
HTLD 798
HUBG 799
HUM 800
HUN 801
HURC 802
HURN 803
HUSA 804
HVT 805
HWCC 806
HWKN 807
HXL 808
HZNP 809
HZO 810
IART 811
IBIO 812
IBM 813
ICAD 814
ICFI 815
IDA 816
IDCC 817
IDRA 818
IDSA 819
IDSY 820
IDT 821
IDXX 822
IEC 823
IESC 824

KeyboardInterrupt: